h2 Conservation Status
ul
    li
        div(class='circle-small Not-Threatened')
        span Not Threatened
    li
        div(class='circle-small Naturally-Uncommon')
        span Naturally Uncommon
    li
        div(class='circle-small Relict')
        span Relict
    li
        div(class='circle-small Recovering')
        span Recovering
    li
        div(class='circle-small Declining')
        span Declining
    li
        div(class='circle-small Nationally-Increasing')
        span Nationally Increasing
    li
        div(class='circle-small Nationally-Vulnerable')
        span Nationally Vulnerable
    li
        div(class='circle-small Nationally-Endangered')
        span Nationally Endangered
    li
        div(class='circle-small Nationally-Critical')
        span Nationally Critical
    li
        div(class='circle-small Data-Deficient')
        span Data Deficient

p Conservation status from 
    a(href="https://www.doc.govt.nz/nature/conservation-status/") DOC website